# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock
db.sqlite3

help.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json