<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-4" href="#">Джуманджи</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav col-10">
        <li class="nav-item">
        <a class="nav-link" href="#">Вакансии</a>
        </li>

    </ul>
    <ul class="navbar-nav col-2 justify-content-end">
        <li class="nav-item active">
        {% if request.user.is_authenticated %}
          Привет {{ request.user.first_name|default:request.user.username }},

          <a href="{% url 'account:logout' %}" class="nav-link font-weight-bold">Выйти</a>
          {% if request.user.groups.name == employer %}
            <a href="" class="nav-link font-weight-bold">Заявки в мою компанию</a>
          {% else %}
            <a href="" class="nav-link font-weight-bold">Мои заявки</a>
          {% endif %}
        {% else %}
          <a href="{% url 'account:login' %}" class="nav-link font-weight-bold">Войти</a>
        {% endif %}
        </li>
    </ul>
    </div>
</nav>
